* {
    padding: 0;
    margin: 0;
}
html {
    background-color: white;
}
main {
    width: 0 auto;
    height: 175px;
    border: solid 2px black;
}
h1 {
    background-color: #F5F5DC;
    height: 25px;
    padding-bottom: 25px;
    text-align: center;
}