* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: #ffe5d9;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    margin: 0;
}
nav {
    overflow: hidden;
    background-color: #ffcad4;
    text-align: center;
    font-size: clamp(20px,25px,30px);
    transition:all 0.3s ease;
}
nav a {
    text-decoration: none;
    color: #ff6f61;
    font-weight: bold;
    margin: 0 15px;
    text-align: center;
    padding: 5px;
    margin:3px 10px;
}
.dropdown {
    overflow: hidden;
    text-align: center;
}
.dropdown .dropbtn {
    text-decoration: none;
    color: #ff6f61;
    font-weight: bold;
    margin: 0 15px;
    text-align: center;
    padding: 5px;
}
nav a:hover, .dropdown:hover .dropbtn {
    color: #ff5647;
}

.dropdown-content {
    display: none;
    position:absolute;
    background-color: #ff6f61;
    z-index:1;
}

nav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fcf2f2;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.options {
    margin: 20px auto;
    text-align: center;
    width:75%;
    padding:15px;
    background-color:#d8e2dc;
    border-radius:10px;
    border:3px solid #ffe5d9;
}
.options aside {
    float:left;
    display: flex;
    flex-direction: column;
    width:30%;
    margin: 10px;
    padding: 10px;
    background-color: #ffe5d9;
    border-radius: 10px;
    border: 2px solid #ffcad4;
}
.options aside a {
    display: block;
    margin-bottom: 15px;
    color: #ff6f61;
    border: 3px solid #ffcad4;
    padding: 10px;
    font-size:20px;
    border-radius: 5px;
    text-decoration: none;
}